img {
    border-radius: 4000px;
    -moz-border-radius: 400px;
    -webkit-border-radius: 4000px;
}
body {
    background:url("temp/galaxy-S7-samsung-fond-ecran.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 100% top;
}
.cookie {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.tobl {
    display: block;
    margin-left: 1200px;
}