body {
    margin: 0;
    padding: 0;
}
.b1 {
    visibility: hidden;
}
.b3 {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.image1{
    position: absolute;
    right: 20%;
    top: 30%;
    z-index: 3;

}
.image2 {
    position: absolute;
    right: 70%;
    top: 55%;
    z-index: 2;
    opacity: .99;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.image3 {
    position: absolute;
    right: 50%;
    top: 70%;
    z-index: -1;
    opacity: .98;

}
.image4 {
    position: absolute;
    right: 80%;
    top: 10%;
    z-index: 5;
    opacity: .99;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.image5 {
    position: absolute;
    right: 40%;
    top: 1%;
    z-index: -4;
    opacity: .96;
}
.image6 {
    position: absolute;
    right: 70%;
    top: 52%;
    z-index: -3;
    opacity: .97;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.image7 {
    position: absolute;
    left: 70%;
    top: 65%;
    z-index: -4;
    opacity: .96;
}
.image8 {
    position: absolute;
    left: 45%;
    bottom: 45%;
    z-index: -4;
    opacity: .96;
}
.image9 {
    position: absolute;
    right: 20%;
    top: 5%;
    z-index: -4;
    opacity: .96;
}
.image10 {
    visibility: hidden;
    position: absolute;
    right: 33%;
    top: 60%;
}
.translate1 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: translate(-1100px);
    -webkit-transform: translate(-1150px);
}
.rotate2 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
}
.translate2 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: translate(300px,-225px);
    -webkit-transform: translate(300px,-225px);
}
.translate3 {
    overflow: hidden;
    transition-duration: 4s;
    transition-property: transform;
    transform: translate(-215px,-350px);
    -webkit-transform: translate(-215px,-350px);
}
.rotate4 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}
.translate4 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: translate(525px,125px);
    -webkit-transform: translate(525px,125px);
}
.rotate5 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.translate5 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: translate(150px,200px);
    -webkit-transform: translate(150px,200px);
}
.rotate6 {
    overflow: hidden;
    transition-duration: 5s;
    transition-property: transform;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.translate6 {
    overflow: hidden;
    transition-duration: 5s;
    transition-property: transform;
    transform: translate(1225px,-175px);
    -webkit-transform: translate(1225px,-175px);
}
.rotate7 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.translate7 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: translate(25px,-325px);
    -webkit-transform: translate(25px,-325px);
}
.translate8 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: translate(610px);
    -webkit-transform: translate(610px);
}
.translate9 {
    overflow: hidden;
    transition-duration: 2s;
    transition-property: transform;
    transform: translate(1400px,-1000px);
    -webkit-transform: translate(1400px,-1000px);
}
.translateFinish {
    overflow: hidden;
    transition-duration: 4s;
    transition-property: transform;
    transform: translate(1400px,225px);
    -webkit-transform: translate(1400px,225px);
}
.Attention {
    visibility: hidden;
    position: absolute;
    top: 60%;
    right: 45%;
}
